<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div
				class="row fullscreen d-flex align-items-center justify-content-center">
				<div class="banner-content col-lg-9 col-md-12">
					<h6>Now you can watch the Talent</h6>
					<h1 class="text-white">Year End Event</h1>
					<div class="countdown">
						<div id="timer" class="text-white"></div>
					</div>
					<h4>
						<span class="lnr lnr-calendar-full"></span> 05th - 09th february,
						2019
					</h4>
					<h4>
						<span class="lnr lnr-map"></span> 56/8, Infosys Gec, Mysore - 1205
					</h4>
				</div>
			</div>
		</div>

	</section>


	<section class="home-video-area">
		<div class="container-fluid">
			<div class="row justify-content-end align-items-center">
				<div class="col-lg-4 no-padding about-right">
					<p class="top-title">Events Easy Portal</p>
					<h1>
						One click to create Event <br> One click to register
					</h1>
					<p>
						<span>We are here to listen from you deliver exellence</span>
					</p>
					<p></p>
				</div>
				<section class="video-area col-lg-6 no-padding">
					<div class="overlay overlay-bg"></div>
					<div class="containers">
						<div class="video-content">
							<img class="img-fluid" src="img/about1.jpg" alt="">
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>


	<section class="home-aboutus-area">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-lg-8 no-padding about-left">
					<img class="img-fluid" src="img/about2.jpg" alt="">
				</div>
				<div class="col-lg-4 no-padding about-right">
					<p class="top-title">24/7 Support system</p>
					<h1 class="text-white">
						Infy Marathon Event <br>Free Coffee
					</h1>
					<p>
						<span>Run for your life , To make it better</span>
					</p>
					<p></p>
				</div>
			</div>
		</div>
	</section>


	