<section class="spekers-area pb-100" id="speakers">
		<div class="container-fluid">
			<div class="row no-padding">
				<div class="active-speaker-carusel col-lg-12 no-padding">
					<div class="single-speaker item">
						<div class="container">
							<div class="row align-items-center">
								<div class="col-md-6 speaker-img no-padding">
									<img src="img/s1.jpg" alt="">
								</div>
								<div class="col-md-6 speaker-info no-padding">
									<h6 class="text-uppercase">speaker 01</h6>
									<h1 class="text-white">Essie Ballard</h1>
									<p>Computer users and programmers have become so accustomed
										to using Windows, even for the changing capabilities and the
										appearances.</p>
									<p>
										<span class="lnr lnr-phone-handset"></span>+880 (012) 8954 253
									</p>
									<p>
										<span class="lnr lnr-location"></span><a
											href="/cdn-cgi/l/email-protection" class="__cf_email__"
											data-cfemail="d7beb6baa4a7b2b6bcb2a597b0bab6bebbf9b4b8ba">[email&#160;protected]</a>
									</p>
									<ul>
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-behance"></i></a>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="single-speaker item">
						<div class="container">
							<div class="row align-items-center">
								<div class="col-md-6 speaker-img no-padding">
									<img src="img/s2.jpg" alt="">
								</div>
								<div class="col-md-6 speaker-info no-padding">
									<h6 class="text-uppercase">speaker 02</h6>
									<h1 class="text-white">Elizabeth Stokes</h1>
									<p>Computer users and programmers have become so accustomed
										to using Windows, even for the changing capabilities and the
										appearances.</p>
									<p>
										<span class="lnr lnr-phone-handset"></span>+880 (012) 8954 253
									</p>
									<p>
										<span class="lnr lnr-location"></span><a
											href="/cdn-cgi/l/email-protection" class="__cf_email__"
											data-cfemail="91f8f0fce2e1f4f0faf4e3d1f6fcf0f8fdbff2fefc">[email&#160;protected]</a>
									</p>
									<ul>
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-behance"></i></a>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="single-speaker item">
						<div class="container">
							<div class="row align-items-center">
								<div class="col-md-6 speaker-img no-padding">
									<img src="img/s1.jpg" alt="">
								</div>
								<div class="col-md-6 speaker-info no-padding">
									<h6 class="text-uppercase">speaker 01</h6>
									<h1 class="text-white">Essie Ballard</h1>
									<p>Computer users and programmers have become so accustomed
										to using Windows, even for the changing capabilities and the
										appearances.</p>
									<p>
										<span class="lnr lnr-phone-handset"></span>+880 (012) 8954 253
									</p>
									<p>
										<span class="lnr lnr-location"></span><a
											href="/cdn-cgi/l/email-protection" class="__cf_email__"
											data-cfemail="1d747c706e6d787c76786f5d7a707c7471337e7270">[email&#160;protected]</a>
									</p>
									<ul>
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-behance"></i></a>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="single-speaker item">
						<div class="container">
							<div class="row align-items-center">
								<div class="col-md-6 speaker-img no-padding">
									<img src="img/s2.jpg" alt="">
								</div>
								<div class="col-md-6 speaker-info no-padding">
									<h6 class="text-uppercase">speaker 02</h6>
									<h1 class="text-white">Elizabeth Stokes</h1>
									<p>Computer users and programmers have become so accustomed
										to using Windows, even for the changing capabilities and the
										appearances.</p>
									<p>
										<span class="lnr lnr-phone-handset"></span>+880 (012) 8954 253
									</p>
									<p>
										<span class="lnr lnr-location"></span><a
											href="/cdn-cgi/l/email-protection" class="__cf_email__"
											data-cfemail="f89199958b889d99939d8ab89f95999194d69b9795">[email&#160;protected]</a>
									</p>
									<ul>
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-behance"></i></a>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>